@use "../utils/_utils" as utils
body
  width: 100%
  height: 100vh

.accueil
  background-image: url(/assets/image/banner.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  width: 100%
  display: flex
  flex-direction: column
  .accueiltitle-1
    padding-top: 5rem
    margin-bottom: 1.5rem
    text-align: center
    @extend %title-1
    color: utils.$color4

.accueiltitle-2
  padding-left: 2rem
  margin-bottom: 1.5
  text-align: start
  @extend %title-2
  color: utils.$color4

.paragraph
  margin-bottom: 1.5rem
  padding: 0 2rem

.album
  margin: 0 0.5rem
  padding-bottom: 10rem

@media  screen and (min-width: 325px)
  .album
    margin: 0 2rem
@media  screen and (min-width: 415px)
  .album
    margin: 0 3rem
@media  screen and (min-width: 517px)
  .album
    margin: 0 4rem
@media  screen and (min-width: 621px)
  .album
    margin: 0 5rem
@media  screen and (min-width: 726px)
  .album
    margin: 0 6rem
@media  screen and (min-width: 829px)
  .album
    margin: 0 7rem
@media  screen and (min-width: 933px)
  .album
    margin: 0 8rem
@media  screen and (min-width: 1036px)
  .album
    margin: 0 9rem
@media  screen and (min-width: 1140px)
  .album
    margin: 0 10rem
@media  screen and (min-width: 1244px)
  .album
    margin: 0 12rem
//@media  screen and (min-width: 324px)
//@media  screen and (min-width: 481px)
//@media  screen and (min-width: 769px)
//@media  screen and (min-width: 1024PX)
//@media  screen and (min-width: 1201px)
