@use "../utils/_utils" as utils

.acceuilcontainer
  @extend %bgTransparent
  @include utils.flex(space-evenly, center, column)
  flex-wrap: wrap
  height: 100vh
.accueil
  width: 100%
  height: 100vh

.about
  @include utils.flex()
.about_title
  margin-top: 1.5rem
  text-decoration: underline

.about_paragraph
  color: utils.$color4
  @extend %paragraphe
  padding: 0 1rem
  margin-bottom: 1.5rem
  span
    font-weight: bold
    font-size: 1.35rem

/* ---------------------------- */

.carousel
  width: 30rem
  height: 30rem
  margin: 2rem auto
  display: flex
  justify-content: center
  align-items: center
  position: relative
  &-inner
    width: 100%
    height: 100%

#carousel-image
  width: 100%
  height: 100%

.carousel-button
  position: absolute
  color: white
  font-size: 2rem
  background-color: rgb(160, 150, 255)
  border: 1px solid black
  border-radius: 15px
  padding: 0.5rem 0.5rem
  margin: 1rem
  cursor: pointer

#prev-button
  left: 0

#next-button
  right: 0
