@use "../utils/_utils" as utils

.ActuTitle
  text-align: center
  padding-bottom: 1.5rem
  @extend %title-2
  color: utils.$color4
  text-shadow: 10px 10px 10px #000000

.event
  @include utils.flex()
  flex-direction: column
  background: rgba(141, 149, 166, 0.30)
  border-radius: 20px
  border-left: 3px solid rgba(141, 149, 166, 0.30)
  border-top: 3px solid rgba(141, 149, 166, 0.30)
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.30)

.event-tittle
  text-decoration: underline
  text-align: center
  padding: 1rem 0 1.5rem 0
  @extend %title-3
  color: utils.$color4
  text-shadow: 10px 10px 10px #000000

.eventHero
  @include utils.flex()
  flex-direction: column
  width: 19rem
  margin-bottom: 1.5rem
  background: rgba(141, 149, 166, 0.30)
  border-radius: 20px
  border-left: 3px solid rgba(141, 149, 166, 0.30)
  border-top: 3px solid rgba(141, 149, 166, 0.30)
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.30)
.eventHero_img
  margin: 1rem
.eventHero_img-flyer
  width: 100%

.btnDetail
  margin-bottom: 1.5rem
  padding: 0.2rem
  border: none
  border-radius: 8px
  text-align: center
  text-decoration: none
  display: inline-block
  cursor: pointer
  color: utils.$color4
  @extend %title-nav
  background-color: #5768ff
  transform: scale(1)
  &:hover
    transform: scale(1.1)

.eventHero_text
  @include utils.flex()
  flex-direction: column

.eventHero_text_paragraph
  padding: 1rem
  margin-bottom: 1.5rem
  @extend %paragraphe
  color: utils.$color4

//@media  screen and (min-width: 324px)

//@media  screen and (min-width: 481px)

@media  screen and (min-width: 622px)
  .eventHero
    flex-wrap: wrap
    width: 40rem

@media  screen and (min-width: 769px)
  .eventHero
    width: 46rem

@media  screen and (min-width: 1024px)
  .eventHero
    width: 60rem

//@media  screen and (min-width: 1201px)
