@use "../utils/_utils" as utils

.title-2
  text-align: center
  padding-bottom: 1.5rem

.event
  @include utils.flex()
  @extend %bgTransparent

.event-tittle
  text-decoration: underline
  text-align: center
  padding: 1rem 0 1.5rem 0

.eventHero
  @include utils.flex()
  width: 19rem
  margin-bottom: 1.5rem
  @extend %bgTransparent

.eventHero_img
  margin: 1rem
.eventHero_img-flyer
  width: 100%

.btnDetail
  margin-bottom: 1.5rem
  padding: 0.2rem
  border: none
  border-radius: 8px
  text-align: center
  text-decoration: none
  display: inline-block
  cursor: pointer
  color: utils.$color4
  @extend %title-nav
  background-color: #5768ff
  transform: scale(1)
  &:hover
    transform: scale(1.1)

.eventHero_text
  @include utils.flex()
  flex-direction: column

.eventHero_text_paragraph
  padding: 1rem
  margin-bottom: 1.5rem
  @extend %paragraphe
  color: utils.$color4

//@media  screen and (min-width: 324px)

//@media  screen and (min-width: 481px)

@media  screen and (min-width: 622px)
  .eventHero
    flex-wrap: wrap
    width: 40rem

@media  screen and (min-width: 769px)
  .eventHero
    width: 46rem

@media  screen and (min-width: 1024px)
  .eventHero
    width: 60rem

//@media  screen and (min-width: 1201px)
