@use "../utils/_utils" as utils

.mainContainer
  height: 100vh
  @include utils.flex()

.container_signInForm
  width: 100%
  height: auto
  text-align: center
  @extend %bgTransparent
  img
    width: 12rem
    height: 12rem
    border-radius: 50%
    margin: 2.5rem 0 1rem 0
  h1
    font-family: utils.$baskerville
    font-size: 2rem
    margin-bottom: 1rem

.sigInForm_information
  @include utils.flex()
  flex-direction: column
  .sigInForm_information_label
    font-family: utils.$merriweather
    font-size: 1rem

  .sigInForm_information_input
    width: 80%
    height: 2rem
    margin-bottom: 1.5rem

.aide
  @include utils.flex()
  margin-bottom: 1.5rem
  gap: 1rem
  .aide-item
    font-size: 0.7rem
    text-align: center
    font-family: utils.$merriweather
    transform: scale(1)
    &:hover
      transform: scale(1.1)
      color: utils.$color4

button
  margin-bottom: 0.5rem
  padding: 0.5rem
  border: none
  border-radius: 20px
  text-align: center
  text-decoration: none
  display: inline-block
  cursor: pointer
  font-family: utils.$caption
  font-size: 1rem
  background-color: #5768ff
  &:hover
    transform: scale(1.1)
.signUp:hover
  color: utils.$color4
.inscription
  margin-bottom: 1.5rem

@media  screen and (min-width: 320px)
  .container_signInForm
    max-width: 30rem
