@use "../utils/_utils" as utils

.cover
  margin-top: 5rem
  display: flex
  justify-content: center
  width: 100%
  height: 8rem

  .cover-img
    position: relative
    width: 100%
    height: 100%
  .title-1
    position: absolute
    @extend %title-1
    color: utils.$color4
    text-align: center
    font-weight: bold
    margin-top: 1.5rem

@media  screen and (min-width: 325px)
  .cover
    margin-top: 3.5rem
    height: 10rem

@media  screen and (min-width: 415px)
  .cover
    height: 11rem
@media  screen and (min-width: 517px)
  .cover
    height: 12rem
@media  screen and (min-width: 621px)
  .cover
    height: 13rem
@media  screen and (min-width: 726px)
  .cover
    height: 14rem
@media  screen and (min-width: 829px)
  .cover
    height: 15rem
@media  screen and (min-width: 933px)
  .cover
    height: 16rem
@media  screen and (min-width: 1036px)
  .cover
    height: 17rem
@media  screen and (min-width: 1140px)
  .cover
    height: 18rem
@media  screen and (min-width: 1244px)
  .cover
    height: 25rem
