@use "../utils/_utils" as utils
.socialNetworks
  display: flex
  justify-content: center
  flex-direction: column
  position: relative
  height: auto
  margin-bottom: 1.5rem
  margin-right: 2rem
  h6
    font-size: 0.7rem
    color: #DFF6FF

//footer
//  display: flex
//  justify-content: center
//  align-items: end
//  flex-direction: column
//  h6
//    color: white
//    text-align: end
//    padding-right: 2rem
//    @extend %paragraphe
//  .socialink
//    margin-bottom: 2rem
//    padding-right: 2.5rem
//    .icon
//      display: inline-block
//      margin: 0 0.2rem 0 0.2rem
