.header
  margin-top: 3.5rem
  display: flex
  justify-content: center
  align-items: center

.banner
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 6rem
  .img
    width: 100%
    height: 100%

.title-1
  position: absolute
  color: #DFF6FF // $color4
  text-align: center
  font-size: 2rem
  font-weight: bold
  margin: 0

@media (min-width: 375px)
  .title-1
    font-size: 2rem
  .banner
    height: 7rem

@media screen and (min-width: 768px)
  .title-1
    font-size: 3rem
  .banner
    height: 8rem
@media screen and (min-width: 1024px )
  .title-1
    font-size: 4rem
  .banner
    height: 10rem
