@use "../utils/_utils" as utils

body
  color: utils.$color1

.title-2
  @extend %title-2
  padding: 1rem 0
  margin: 0
  text-align: center

.paragraph
  @extend %paragraphe
  padding: 0 2rem
  text-align: left

.album
  margin: 0 1rem 0rem 1rem
  padding-bottom: 4rem
