*, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.cover .coverTitle-1, .accueil .accueiltitle-1 {
  font-family: "Libre Baskerville", serif;
  font-size: 2.5rem;
}

.gameHelptitle-2, .ActuTitle-2, .accueiltitle-2 {
  font-family: "Merriweather", serif;
  font-size: 1.75rem;
}

.event-tittle {
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
}

.signIn-inscr_button, .nav a {
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
}

.eventHero_text_paragraph {
  font-family: "PT Serif Caption", serif;
  font-size: 0.8rem;
}

@media screen and (min-width: 324px) {
  .cover .coverTitle-1, .accueil .accueiltitle-1 {
    font-size: 2.75rem;
  }
  .gameHelptitle-2, .ActuTitle-2, .accueiltitle-2 {
    font-size: 2rem;
  }
  .event-tittle {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 481px) {
  .cover .coverTitle-1, .accueil .accueiltitle-1 {
    font-size: 3rem;
  }
  .gameHelptitle-2, .ActuTitle-2, .accueiltitle-2 {
    font-size: 2.25rem;
  }
  .event-tittle {
    font-size: 1.5rem;
  }
  .eventHero_text_paragraph {
    font-size: 1rem;
  }
}
@media screen and (min-width: 622px) {
  .cover .coverTitle-1, .accueil .accueiltitle-1 {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 769px) {
  .cover .coverTitle-1, .accueil .accueiltitle-1 {
    font-size: 3.5rem;
  }
  .gameHelptitle-2, .ActuTitle-2, .accueiltitle-2 {
    font-size: 2.5rem;
  }
  .event-tittle {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .cover .coverTitle-1, .accueil .accueiltitle-1 {
    font-size: 4.5rem;
  }
  .gameHelptitle-2, .ActuTitle-2, .accueiltitle-2 {
    font-size: 2.75rem;
  }
  .event-tittle {
    font-size: 1.5rem;
  }
  .eventHero_text_paragraph {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1201px) {
  .cover .coverTitle-1, .accueil .accueiltitle-1 {
    font-size: 5.75rem;
  }
  .gameHelptitle-2, .ActuTitle-2, .accueiltitle-2 {
    font-size: 3rem;
  }
  .event-tittle {
    font-size: 2rem;
  }
}
body {
  background-image: url(/assets/image/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.flux {
  background-color: rgba(240, 240, 240, 0);
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.accueil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.accueil .accueiltitle-1 {
  padding-top: 5.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: 10px 10px 10px #000000;
  color: #f0f0f0;
}

.accueiltitle-2 {
  padding-left: 0.5rem;
  margin-bottom: 1.5;
  text-align: start;
  text-decoration: underline;
  color: #f0f0f0;
}

.accueil-paragraph {
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

.album {
  padding: 0 0.5rem;
  margin-bottom: 15rem;
}

@media screen and (min-width: 324px) {
  .album {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 481px) {
  .album {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 769px) {
  .album {
    padding: 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .album {
    padding: 0 8rem;
  }
}
@media screen and (min-width: 1201px) {
  .album {
    padding: 0 10rem;
  }
}
.mainContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_signInForm {
  background: rgba(141, 149, 166, 0.3);
  width: 100%;
  height: auto;
  border-radius: 20px;
  border-left: 3px solid rgba(141, 149, 166, 0.3);
  border-top: 3px solid rgba(141, 149, 166, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.container_signInForm img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 2.5rem 0 1rem 0;
}
.container_signInForm h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sigInForm_information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sigInForm_information .sigInForm_information_label {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  text-align: start;
  margin: 0 3rem 0 3rem;
}
.sigInForm_information .sigInForm_information_input {
  margin: 0 3rem 1rem 3rem;
  height: 2rem;
}

.aide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
.aide .aide-item {
  font-size: 0.8rem;
  text-align: center;
  font-family: "Merriweather", serif;
  transform: scale(1);
}
.aide .aide-item:hover {
  transform: scale(1.1);
  color: #f0f0f0;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: "PT Serif Caption", serif;
  font-size: 1rem;
  background-color: #5768ff;
}
button:hover {
  transform: scale(1.1);
}

.signUp:hover {
  color: #f0f0f0;
}

.inscription {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 320px) {
  .container_signInForm {
    max-width: 30rem;
  }
}
.containerSignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formSignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: rgba(141, 149, 166, 0.3);
  border-left: 3px solid rgba(141, 149, 166, 0.3);
  border-top: 3px solid rgba(141, 149, 166, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
}

.formSignUp_img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1rem 0;
}

.formSignUp_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 1rem;
}

.ActuTitle-2 {
  text-align: center;
  padding-bottom: 1.5rem;
  color: #f0f0f0;
  text-shadow: 10px 10px 10px #000000;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(141, 149, 166, 0.3);
  border-radius: 20px;
  border-left: 3px solid rgba(141, 149, 166, 0.3);
  border-top: 3px solid rgba(141, 149, 166, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
}

.event-tittle {
  text-decoration: underline;
  text-align: center;
  padding: 1rem 0 1.5rem 0;
  color: #f0f0f0;
  text-shadow: 10px 10px 10px #000000;
}

.eventHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.eventHero_img {
  margin-bottom: 1.5rem;
}

.eventHero_img-flyer {
  width: 18.75rem;
}

.eventHero_text {
  width: 100%;
}

.eventHero_text_paragraph {
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
  color: #f0f0f0;
}

.eventNav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
.eventNav .eventNav-item {
  background-color: #1D2240;
  color: #f0f0f0;
  text-align: center;
  width: 9.5rem;
  height: 1.5rem;
  border-radius: 10px;
}
.eventNav .eventNav-item:hover {
  color: #1D2240;
  background-color: #989eaa;
}

.eventGuest {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.eventGuest-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin-bottom: 1.5rem;
  background: rgba(141, 149, 166, 0.4);
  border-radius: 1rem;
  border-left: 3px solid rgba(141, 149, 166, 0.3);
  border-top: 3px solid rgba(141, 149, 166, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
}

.eventGuest-item_img {
  margin: 1rem;
}

@media screen and (min-width: 481px) {
  .eventHero_img-flyer {
    width: 25rem;
  }
}
@media screen and (min-width: 622px) {
  .eventGuest-item {
    display: flex;
    flex-direction: row;
    width: 35rem;
  }
  .eventHero_img-flyer {
    width: 35rem;
  }
}
@media screen and (min-width: 769px) {
  .eventGuest-item {
    display: flex;
    flex-direction: row;
    width: 45rem;
  }
  .eventHero_img-flyer {
    width: 45rem;
  }
}
@media screen and (min-width: 1024px) {
  .eventGuest-item {
    display: flex;
    flex-direction: row;
    width: 55rem;
  }
  .eventHero_img-flyer {
    width: 55rem;
  }
}
@media screen and (min-width: 1201px) {
  .eventGuest-item {
    display: flex;
    flex-direction: row;
    width: 65rem;
  }
  .eventHero_img-flyer {
    width: 65rem;
  }
}
.cover {
  padding-top: 4rem;
}
.cover .coverTitle-1 {
  color: #f0f0f0;
  text-align: center;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
  text-shadow: 10px 10px 10px #000000;
}

@media screen and (min-width: 324px) {
  .cover {
    padding-top: 2.5rem;
    height: 12rem;
  }
}
@media screen and (min-width: 481px) {
  .cover {
    height: 13rem;
  }
}
@media screen and (min-width: 769px) {
  .cover {
    height: 14rem;
  }
}
@media screen and (min-width: 1024px) {
  .cover {
    height: 15rem;
  }
}
@media screen and (min-width: 1201px) {
  .cover {
    height: 16rem;
  }
}
.nav {
  background-color: #6D758C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  color: #f0f0f0;
}
.nav a .nav-item {
  margin-left: 1rem;
}

.socialNetworks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: auto;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}
.socialNetworks h6 {
  font-size: 0.7rem;
  color: #DFF6FF;
}

.gameHelptitle-2 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.card {
  background-color: #6D758C;
}

a a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 2rem 2rem 2rem 2rem;
  overflow: hidden;
  position: relative;
  color: #f0f0f0;
}
.postcard.card {
  background-color: #1D2240;
}
.postcard a {
  color: inherit;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  width: 100%;
  position: relative;
}
.postcard_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 200px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard__title {
    font-size: 2rem;
  }
  .postcard__img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard__text {
    padding: 2rem;
    width: 100%;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 3rem 3rem;
  }
}
.blue .postcard__title:hover {
  color: #6D758C;
}

.blue .postcard__bar {
  background-color: #6D758C;
}

@media screen and (min-width: 769px) {
  .blue::before {
    background-image: linear-gradient(-80deg, #6D758C, transparent 40%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, #6D758C, transparent 40%);
  }
}
.signIn-inscr__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0;
  margin-bottom: 0.5rem;
}

.signIn-inscr_button {
  padding: 0.2rem;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #5768ff;
  transform: scale(1);
}
.signIn-inscr_button:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 325px) {
  .signIn-inscr__list {
    margin-bottom: 0;
  }
}
.btnGoTop {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  transform: scale(1);
}
.btnGoTop:hover {
  transform: scale(1.2);
}

.btnGoTop_img {
  width: 2.5rem;
}/*# sourceMappingURL=styles.css.map */