* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

.title-1 {
  font-family: "Libre Baskerville", serif;
  font-size: 2.5rem;
}

.title-2, .gameHelptitle-2 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

.title-3 {
  font-family: "Merriweather", serif;
  font-size: 1.75rem;
}

.title-4 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}

.sign-button, .nav a, .btnDetail {
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
}

.title-5, .convHero_text_paragraph, .convGuest-text_paragraph, .eventHero_text_paragraph, .contact-info_adress, .contact-info_time, .contact-info_mail, .about_paragraph {
  font-family: "PT Serif Caption", serif;
  font-size: 1rem;
}

@media screen and (min-width: 320px) {
  .title-1 {
    font-size: 2.75rem;
  }
  .title-2, .gameHelptitle-2 {
    font-size: 2.25rem;
  }
  .title-3 {
    font-size: 2rem;
  }
  .title-4 {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 480px) {
  .title-1 {
    font-size: 3rem;
  }
  .title-2, .gameHelptitle-2 {
    font-size: 2.5rem;
  }
  .title-3 {
    font-size: 2.25rem;
  }
  .title-4 {
    font-size: 2rem;
  }
  .title-5, .convHero_text_paragraph, .convGuest-text_paragraph, .eventHero_text_paragraph, .contact-info_adress, .contact-info_time, .contact-info_mail, .about_paragraph {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 620px) {
  .title-1 {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 768px) {
  .title-1 {
    font-size: 3.5rem;
  }
  .title-2, .gameHelptitle-2 {
    font-size: 2.75rem;
  }
  .title-3 {
    font-size: 2.5rem;
  }
  .title-4 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .title-1 {
    font-size: 4.5rem;
  }
  .title-2, .gameHelptitle-2 {
    font-size: 3rem;
  }
  .title-3 {
    font-size: 2.75rem;
  }
  .title-4 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .title-1 {
    font-size: 5.75rem;
  }
  .title-2, .gameHelptitle-2 {
    font-size: 3.25rem;
  }
  .title-3 {
    font-size: 3rem;
  }
  .title-4 {
    font-size: 2.75rem;
  }
}
.wrapperFooter, .conv, .convGuest-item, .event, .eventHero, .wrapper-contact, .container_signInForm, .acceuilcontainer {
  background: rgba(89, 96, 129, 0.3);
  border-radius: 1rem;
  border-left: 3px solid rgba(89, 96, 129, 0.3);
  border-top: 3px solid rgba(89, 96, 129, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
}

body {
  background-image: url(/assets/image/divers/body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(104, 111, 144, 0.5);
}

.flux {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.acceuilcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.accueil {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.about_title {
  margin-top: 1.5rem;
  text-decoration: underline;
}

.about_paragraph {
  color: rgb(220, 222, 224);
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}
.about_paragraph span {
  font-weight: bold;
  font-size: 1.35rem;
}

/* ---------------------------- */
.carousel {
  width: 30rem;
  height: 30rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel-inner {
  width: 100%;
  height: 100%;
}

#carousel-image {
  width: 100%;
  height: 100%;
}

.carousel-button {
  position: absolute;
  color: white;
  font-size: 2rem;
  background-color: rgb(160, 150, 255);
  border: 1px solid black;
  border-radius: 15px;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

#prev-button {
  left: 0;
}

#next-button {
  right: 0;
}

.mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_signInForm {
  width: 100%;
  height: auto;
  text-align: center;
}
.container_signInForm img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 2.5rem 0 1rem 0;
}
.container_signInForm h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sigInForm_information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
}
.sigInForm_information .sigInForm_information_label {
  font-family: "Merriweather", serif;
  font-size: 1rem;
}
.sigInForm_information .sigInForm_information_input {
  width: 80%;
  height: 2rem;
  margin-bottom: 1.5rem;
}

.aide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
.aide .aide-item {
  font-size: 0.7rem;
  text-align: center;
  font-family: "Merriweather", serif;
  transform: scale(1);
}
.aide .aide-item:hover {
  transform: scale(1.1);
  color: rgb(220, 222, 224);
}

button {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: "PT Serif Caption", serif;
  font-size: 1rem;
  background-color: #5768ff;
}
button:hover {
  transform: scale(1.1);
}

.signUp:hover {
  color: rgb(220, 222, 224);
}

.inscription {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 320px) {
  .container_signInForm {
    max-width: 30rem;
  }
}
.containerSignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formSignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: rgba(141, 149, 166, 0.3);
  border-left: 3px solid rgba(141, 149, 166, 0.3);
  border-top: 3px solid rgba(141, 149, 166, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
}

.formSignUp_img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1rem 0;
}

.formSignUp_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 1rem;
}

.findTitle {
  margin-bottom: 0.75rem;
  text-decoration: underline;
  text-align: center;
}

.socialTitle {
  margin-bottom: 1rem;
  text-align: center;
}

.wrapper-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.5rem;
}

.contact-map {
  width: 75%;
  margin: 1rem;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info_adress, .contact-info_time, .contact-info_mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(220, 222, 224);
  margin-bottom: 0.75rem;
  width: 18rem;
}

.contact-info_adress__item, .contact-info_time__item, .contact-info_mail__item {
  margin-right: 0.5rem;
}

.contact-social_item > .icon {
  margin-left: 1rem;
}

@media screen and (min-width: 480px) {
  .contact, .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.title-2 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event-tittle {
  text-decoration: underline;
  text-align: center;
  padding: 1rem 0 1.5rem 0;
}

.eventHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 19rem;
  margin-bottom: 1.5rem;
}

.eventHero_img {
  margin: 1rem;
}

.eventHero_img-flyer {
  width: 100%;
}

.btnDetail {
  margin-bottom: 1.5rem;
  padding: 0.2rem;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: rgb(220, 222, 224);
  background-color: #5768ff;
  transform: scale(1);
}
.btnDetail:hover {
  transform: scale(1.1);
}

.eventHero_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
}

.eventHero_text_paragraph {
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: rgb(220, 222, 224);
}

@media screen and (min-width: 622px) {
  .eventHero {
    flex-wrap: wrap;
    width: 40rem;
  }
}
@media screen and (min-width: 769px) {
  .eventHero {
    width: 46rem;
  }
}
@media screen and (min-width: 1024px) {
  .eventHero {
    width: 60rem;
  }
}
.conv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conv-tittle {
  text-decoration: underline;
  text-align: center;
  padding: 1rem 0 1.5rem 0;
}

.convHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.convHero_img {
  margin-bottom: 1.5rem;
}

.convHero_img-flyer {
  width: 18.75rem;
}

.convHero_text {
  width: 100%;
}

.convHero_text_paragraph {
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
  color: rgb(220, 222, 224);
}

.convNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.convNav .convNav-item {
  background-color: rgb(33, 37, 64);
  color: rgb(220, 222, 224);
  text-align: center;
  width: 9.5rem;
  height: 1.5rem;
  border-radius: 10px;
}
.convNav .convNav-item:hover {
  color: rgb(33, 37, 64);
  background-color: rgb(104, 111, 144);
}

.convGuest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
}

.convGuest-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 1.5rem;
}

.convGuest-item_img {
  margin: 1rem;
}

.convGuest-text_paragraph {
  margin: 1rem;
  color: rgb(220, 222, 224);
}

.convGuest-link {
  margin: 0 0 1rem 1rem;
}

@media screen and (min-width: 481px) {
  .convHero_img-flyer {
    width: 25rem;
  }
}
@media screen and (min-width: 622px) {
  .convGuest-item {
    flex-direction: row;
    width: 35rem;
  }
  .convHero_img-flyer {
    width: 35rem;
  }
}
@media screen and (min-width: 769px) {
  .convGuest-item {
    width: 45rem;
  }
  .convHero_text {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .convGuest-item {
    width: 55rem;
  }
}
@media screen and (min-width: 1201px) {
  .convGuest-item {
    width: 65rem;
  }
}
.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
  background-image: url(/assets/image/divers/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 27rem;
}

.nav {
  background-color: rgb(89, 96, 129);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  color: rgb(220, 222, 224);
}
.nav a .nav-item {
  margin-left: 1rem;
}

.sign {
  display: flex;
  flex-direction: row;
}

.wrapperFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  padding: 2rem;
}

.footerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.footerItem_logo {
  width: 8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.socialNetworks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.socialNetworks .socialNetworks-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.gameHelptitle-2 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.card {
  background-color: rgb(89, 96, 129);
}

a a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 2rem 2rem 2rem 2rem;
  overflow: hidden;
  position: relative;
  color: rgb(220, 222, 224);
}
.postcard.card {
  background-color: rgb(33, 37, 64);
}
.postcard a {
  color: inherit;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  width: 100%;
  position: relative;
}
.postcard_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 200px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard__title {
    font-size: 2rem;
  }
  .postcard__img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard__text {
    padding: 2rem;
    width: 100%;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 3rem 3rem;
  }
}
.blue .postcard__title:hover {
  color: rgb(89, 96, 129);
}

.blue .postcard__bar {
  background-color: rgb(89, 96, 129);
}

@media screen and (min-width: 769px) {
  .blue::before {
    background-image: linear-gradient(-50deg, rgb(89, 96, 129), transparent 90%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(50deg, rgb(89, 96, 129), transparent 90%);
  }
}
.title-1 {
  text-shadow: 10px 10px 10px #000000;
  color: rgb(220, 222, 224);
  font-weight: bold;
  text-align: center;
}

.title-2 {
  color: rgb(220, 222, 224);
  text-shadow: 10px 10px 10px #000000;
}

.title-3 {
  color: rgb(220, 222, 224);
  text-shadow: 10px 10px 10px #000000;
}

.title-4 {
  color: rgb(220, 222, 224);
  text-shadow: 10px 10px 10px #000000;
}

.title-5 {
  color: rgb(220, 222, 224);
}

.sign-button {
  margin: 0.5rem;
  padding: 0.2rem;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #5768ff;
  transform: scale(1);
}
.sign-button:hover {
  transform: scale(1.1);
}

.btnGoTop {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  transform: scale(1);
}
.btnGoTop:hover {
  transform: scale(1.2);
}

.btnGoTop_img {
  width: 2.5rem;
}/*# sourceMappingURL=styles.css.map */