* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.cover .title-1, .accueil .accueiltitle-1 {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
}

.title-2, .accueiltitle-2 {
  font-family: "Merriweather", serif;
  font-size: 1.75rem;
}

.signIn-inscr_button, .nav a {
  font-family: "Merriweather", serif;
  font-size: 0.75rem;
}

@media screen and (min-width: 415px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 517px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 621px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 3.5rem;
  }
  .title-2, .accueiltitle-2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 726px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 829px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 4.5rem;
  }
  .title-2, .accueiltitle-2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 933px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1036px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 5.5rem;
  }
  .title-2, .accueiltitle-2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1140px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1244px) {
  .cover .title-1, .accueil .accueiltitle-1 {
    font-size: 9rem;
  }
}
.flux {
  background-color: #f0f0f0;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  width: 100%;
  height: 100vh;
}

.accueil {
  background-image: url(/assets/image/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.accueil .accueiltitle-1 {
  padding-top: 5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #f0f0f0;
}

.accueiltitle-2 {
  padding-left: 2rem;
  margin-bottom: 1.5;
  text-align: start;
  color: #f0f0f0;
}

.paragraph {
  margin-bottom: 1.5rem;
  padding: 0 2rem;
}

.album {
  margin: 0 0.5rem;
  padding-bottom: 10rem;
}

@media screen and (min-width: 325px) {
  .album {
    margin: 0 2rem;
  }
}
@media screen and (min-width: 415px) {
  .album {
    margin: 0 3rem;
  }
}
@media screen and (min-width: 517px) {
  .album {
    margin: 0 4rem;
  }
}
@media screen and (min-width: 621px) {
  .album {
    margin: 0 5rem;
  }
}
@media screen and (min-width: 726px) {
  .album {
    margin: 0 6rem;
  }
}
@media screen and (min-width: 829px) {
  .album {
    margin: 0 7rem;
  }
}
@media screen and (min-width: 933px) {
  .album {
    margin: 0 8rem;
  }
}
@media screen and (min-width: 1036px) {
  .album {
    margin: 0 9rem;
  }
}
@media screen and (min-width: 1140px) {
  .album {
    margin: 0 10rem;
  }
}
@media screen and (min-width: 1244px) {
  .album {
    margin: 0 12rem;
  }
}
.cover {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8rem;
}
.cover .cover-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.cover .title-1 {
  position: absolute;
  color: #f0f0f0;
  text-align: center;
  font-weight: bold;
  margin-top: 1.5rem;
}

@media screen and (min-width: 325px) {
  .cover {
    margin-top: 3.5rem;
    height: 10rem;
  }
}
@media screen and (min-width: 415px) {
  .cover {
    height: 11rem;
  }
}
@media screen and (min-width: 517px) {
  .cover {
    height: 12rem;
  }
}
@media screen and (min-width: 621px) {
  .cover {
    height: 13rem;
  }
}
@media screen and (min-width: 726px) {
  .cover {
    height: 14rem;
  }
}
@media screen and (min-width: 829px) {
  .cover {
    height: 15rem;
  }
}
@media screen and (min-width: 933px) {
  .cover {
    height: 16rem;
  }
}
@media screen and (min-width: 1036px) {
  .cover {
    height: 17rem;
  }
}
@media screen and (min-width: 1140px) {
  .cover {
    height: 18rem;
  }
}
@media screen and (min-width: 1244px) {
  .cover {
    height: 25rem;
  }
}
.nav {
  background-color: #6D758C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  color: #f0f0f0;
}
.nav a .nav-item {
  margin-left: 1rem;
}

.banner2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15rem;
}
.banner2 .img {
  width: 100%;
  height: 100%;
}
.banner2 .socialink {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
}
.banner2 .socialink h6 {
  font-size: 0.7rem;
  color: #DFF6FF;
}
.banner2 .socialink .icon {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title-2 {
  text-align: center;
}

.card {
  background-color: #1D2240;
}

a a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 2rem 2rem 2rem 2rem;
  overflow: hidden;
  position: relative;
  color: #f0f0f0;
}
.postcard.card {
  background-color: #1D2240;
}
.postcard a {
  color: inherit;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  width: 100%;
  position: relative;
}
.postcard_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 200px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard__title {
    font-size: 2rem;
  }
  .postcard__img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard__text {
    padding: 2rem;
    width: 100%;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 3rem 3rem;
  }
}
.blue .postcard__title:hover {
  color: #6D758C;
}

.blue .postcard__bar {
  background-color: #6D758C;
}

@media screen and (min-width: 769px) {
  .blue::before {
    background-image: linear-gradient(-80deg, #6D758C, transparent 40%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, #6D758C, transparent 40%);
  }
}
.container {
  background-image: url(/assets/image/banner.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.container_signInForm {
  background: rgba(141, 149, 166, 0.3);
  width: 100%;
  height: auto;
  border-radius: 20px;
  border-left: 3px solid rgba(141, 149, 166, 0.3);
  border-top: 3px solid rgba(141, 149, 166, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.container_signInForm img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 2.5rem 0 1rem 0;
}
.container_signInForm h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sigInForm_information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sigInForm_information .sigInForm_information_label {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  text-align: start;
  margin: 0 3rem 0 3rem;
}
.sigInForm_information .sigInForm_information_input {
  margin: 0 3rem 1rem 3rem;
  height: 2rem;
}

.aide {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
.aide a {
  text-align: center;
  font-family: "Merriweather", serif;
  transform: scale(1);
}
.aide a:hover {
  transform: scale(1.1);
  color: #f0f0f0;
}
.aide button {
  margin-bottom: 1.5rem;
}

.submit {
  margin-bottom: 3rem;
}
.submit button {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: "PT Serif Caption", serif;
  font-size: 1rem;
  background-color: #5768ff;
}
.submit button:hover {
  transform: scale(1.1);
}
.submit .signUp:hover {
  color: #f0f0f0;
}

@media screen and (min-width: 320px) {
  .container_signInForm {
    width: 25rem;
  }
}
.signIn-inscr__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin: 0;
  padding: 0;
}

.signIn-inscr_button {
  padding: 0.2rem;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #5768ff;
  transform: scale(1);
}
.signIn-inscr_button:hover {
  transform: scale(1.1);
}

.btnGoTop {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  cursor: pointer;
  transform: scale(1);
}
.btnGoTop:hover {
  transform: scale(1.1);
}

.btnGoTop_img {
  width: 2rem;
}/*# sourceMappingURL=styles.css.map */