@use "../utils/_fonts" as fonts

%title-1
  font-family: fonts.$baskerville
  font-size: 2.5rem

%title-2
  font-family: fonts.$merriweather
  font-size: 1.75rem

%title-3
  font-family: fonts.$merriweather
  font-size: 1.1rem

%title-nav
  font-family: fonts.$merriweather
  font-size: 0.8rem

%paragraphe
  font-family: fonts.$caption
  font-size: 0.8rem

@media  screen and (min-width: 324px)
  %title-1
    font-size: 2.75rem
  %title-2
    font-size: 2rem
  %title-3
    font-size: 1.25rem
@media  screen and (min-width: 481px)
  %title-1
    font-size: 3rem
  %title-2
    font-size: 2.25rem
  %title-3
    font-size: 1.5rem
  %paragraphe
    font-size: 1rem
@media  screen and (min-width: 622px)
  %title-1
    font-size: 3.25rem
@media  screen and (min-width: 769px)
  %title-1
    font-size: 3.5rem
  %title-2
    font-size: 2.5rem
  %title-3
    font-size: 1.25rem
@media  screen and (min-width: 1024px)
  %title-1
    font-size: 4.5rem
  %title-2
    font-size: 2.75rem
  %title-3
    font-size: 1.5rem
  %paragraphe
    font-size: 1.25rem
@media  screen and (min-width: 1201px)
  %title-1
    font-size: 5.75rem
  %title-2
    font-size: 3rem
  %title-3
    font-size: 2rem
